a {
  text-decoration: none;
  color: rebeccapurple;
}
a:hover {
  color: rgb(217, 42, 233);
}
h2 {
  margin-top: 10px;
  font-size: 22px;
  color: rebeccapurple;
  font-weight: 550;
}
h1 {
  color: rebeccapurple;
  font-weight: 550;
  margin-bottom: 0px;
}
.flex-center{
  display: flex;
  justify-content: center;
}
#app {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(187, 185, 185, 0.479);
  width: 400px;
  min-height: 530px;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  align-items: center;
}
.turn {
  margin: 0px;
}
b {
  color: rgb(217, 42, 233);
  font-size: 25px;
}
#winner {
  border: 3px solid rebeccapurple;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 90px;
  margin-right: 90px;
}
button {
  color: rebeccapurple;
  border: 2px solid rebeccapurple;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: none;
  cursor: pointer;
}
button:hover{
  color:rgb(240, 77, 255);
  transform: scale(1.2);
}
